streamlit
pandas
numpy
wordcloud
plotly
matplotlib
seaborn
sklearn
openpyxl
spacy==3.2.0
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.2.0/pl_core_news_sm-3.2.0.tar.gz
transformers
